/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Hind', sans-serif;
}

/* Header */
header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

/* Trước hover */
#navbarPort .nav-item .nav-link {
    color: white;
    transition: all 0.4s;

}

/* sau hover */
#navbarPort .nav-item:hover .nav-link {
    color: #35a22c;
}

/* tạo dường gạch */
#navbarPort .nav-item .nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #35a22c;
    /* không bị đụng code BS */
    display: block;
    /* display: inline-block; không chiếm 1 hàng width 100%
    nhưng xét được kích thước (block)*/
    transition: all 0.5s;
}

#navbarPort .nav-item:hover .nav-link::after {
    width: 100%;
}

/* Carousel */
.carouselPort .carousel-item {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.carouselPort .carousel-item:nth-child(1) {
    background-image: url(../img/mountains-1.jpg);
}

.carouselPort .carousel-item:nth-child(2) {
    background-image: url(../img/finland.jpg);
}

.carouselPort .carousel-item:nth-child(3) {
    background-image: url(../img/mountains.jpg);
}

.carouselPort .img_thumb {
    width: 150px;
    margin: 0 auto;
}

.carouselPort .img_thumb img {
    border-radius: 50%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #35a22c;
}

/* Project */

.card h4 {
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .project_content .card-body .card-title {
        font-size: 1rem;
    }
}

.project_content .nav-item .nav-link {
    border: 1px solid;
    color: black;
    margin: 0 10px;

}

.project_content .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #35a22c;
    color: white;
}

.project_content .card {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border: none;
    box-shadow: 0 0 0.4rem gray;
    cursor: pointer;

}

.project_content .card .card-body {
    text-align: center;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.project_content .card .card-body h4 {
    font-size: 1.2rem;
    transition: all 0.5s;

}

.project_content .card .card-body p {
    color: gray;
}

.project_content .card:hover .card-body {
    border-color: #35a22c;
    border-top-color:transparent ;
    border-radius: 0 0 1rem 1rem;
}
.project_content .card:hover .card-body h4 {
    color: #35a22c;
}

@media screen and (max-width: 700px) {
    .project_content .nav-pills .nav-link {
        margin: 0 5px;
    }
}